/**************************
* Generell
**************************/
*{
	font-family: Roboto, sans-serif;
	font-weight: 200;
	color: #333;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a{
	text-decoration: none;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.centered{
	text-align: center;
}

.ion-adjust{
	margin-right: 7px;
    position: relative;
    top: 1px;
}

/**************************
* Navigation
**************************/
nav{
	overflow: hidden;
	background: #333;
	//background: url("../img/bg-dark-triangle.png" );
}

nav .logo{
	float: left;
	display: block;
}

nav .logo span{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    font-weight: 300;
}

nav .logo span em{
	color: #0FBBEC;
	font-style: normal;
	font-weight: 300;
}

nav .logo .container{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 5px;
    vertical-align: middle;
}

nav .pages{
	float: right;
}

nav .pages a{
	padding: 16px 0 15px;
	margin: 0 30px;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 13px;
	color: #FFF;
	display: block;
	float: left;
	cursor: pointer;
	font-weight: 300;
	transition: color 300ms ease;
}

nav a:hover{
	color: #0FBBEC;
}

nav a.active{
	border-top: 4px solid #0FBBEC;
	padding-top: 12px;
	color: #0FBBEC;
}

/**************************
* Header
**************************/
header{
    text-align: center;
    padding-top: 50px;
}

header .video{
	background-image: url(../img/video-placeholder.png);
	width: 1200px;
	height: 521px;
	position: fixed;
	z-index: 0;
	left: 50%;
	margin-left: -600px;
	opacity: 0.7;
}

header .headline,
header .quick-links{
	position: relative;
	z-index: 1;
}

header .headline{
	padding: 140px 0;
}

header .headline h1{
    padding-top: 50px;
    font-size: 50px;
}

header .headline span{
	color: #0FBBEC;
}

header .headline a{
	display: inline-block;
    transition: all 300ms ease;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    padding: 9px 51px;
    text-align: center;
    border-radius: 3px;
    margin-top: 40px;
    background-color: #fff;
    cursor: pointer;
}

header .headline a:hover{
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
}

header .headline a:active{
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}

header .quick-links{
	background: rgba(255,255,255,0.7);
}

header .quick-links a{
	display: inline-block;
	padding: 5px 50px;
	color: #999;
	cursor: pointer;
	font-size: 12px;
}

header .quick-links a:hover{
	text-decoration: underline;
}

header .quick-links a i{
	color: #aaa;
	position: relative;
	top: 1px;
}


/**************************
* Concept Select
**************************/
#concepts{
	 background-color: #fff;

	//background: #22C9F1 url(https://deepstream.io/assets/images/decrtn-SecrPath.svg) no-repeat bottom right;
	//background-color: #333;
    height: 600px;
    border-top: 1px solid #ddd;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
}

#concept-select{
	//background-color: #222;
	background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/subtle_dots.png");
	border-bottom: 1px solid #eee;
}

#concept-select ul{
	overflow: hidden;
    position: relative;
    margin-bottom: -1px;
}

#concept-select li{
    float: left;
    width: 300px;
    padding: 40px 50px;
    cursor: pointer;
}

#concept-select li,
#concept-select li *{
	transition: all 500ms ease;
}

#concept-select li:hover{
	background-color: #333;
}

#concept-select li:hover *{
	color: #fff;
}

#concept-select li.active{
	background-color: #fff;
	//background: #333;
	padding: 40px 48px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

#concept-select li .icon{
	float: left;
    font-size: 20px;
    color: #333;
    position: relative;
    left: 20px;
}

#concept-select li.active .icon,
#concept-select li.active h2{
	color: #0FBBEC;
}

#concept-select li h2{
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
    margin-left: 50px;
    font-weight: 300;
}

#concept-select li p{
	font-weight: 300;
	font-size: 14px;
	color: #333;
	margin-left: 50px;
}

/**************************
* Code Samples
**************************/
#code-samples{
	position: relative;
}

#code-samples .sample{
	position: absolute;
	overflow: hidden;
}

#code-samples .sample > *{
	display: block;
	float: left;
}

#code-samples .sample .icon{
    font-size: 50px;
    color: #0FBBEC;
    width: 80px;
    text-align: center;
}

#code-samples .sample code{
	white-space: pre-line;
	width: 364px;
}

#code-samples .sample code .highlight{
	color: #0FBBEC;
}

#code-samples .sample.right code{
	position: relative;
	left: 25px;
}

#code-samples .sample code, .sample code *{
	color: #333;
	font-size: 12px;
	line-height: 20px;
	font-family: 'courier new', monospace;
}

#code-samples .sample code i{
	font-style: normal;
}

#code-samples .sample code i.string{
	color: #999;
}

/* structure */
#code-samples .sample.left{
    left: 0;
}

#code-samples .sample.right{
	right: 0;
}

#code-samples .sample.top{
    top: 80px;
}

#code-samples .sample.bottom{
    top: 280px;
}

/* logo */
@keyframes changeColor {
  from {
    stroke: #61d9fb;
  }

  to {
   stroke: #00C4FA;
  }
}

#code-samples .ds-logo{
	position: absolute;
	width: 220px;
	height: 220px;
	top: 100px;
	left: 50%;
	margin-left: -110px;
	animation-duration: 1s;
	animation-name: changeColor;
	animation-easing: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#code-samples .svg-canvas{
    position: absolute;
    left: 50%;
    top: 62px;
    margin-left: -250px;
    width: 500px;
    height: 300px;
}

/**************************
* Getting started
**************************/
#getting-started{
	background: url("../img/nightsky.png" );
	height: 400px;
	position: relative;
}

#getting-started *{
	color: #eee;
}

#getting-started h2{
	font-size: 40px;
	padding: 40px 0;
	text-align: center;
}

#getting-started .box{
	padding: 10px;
	border: 1px solid rgba(255,255,255,0.6);
	position: relative;
}

#getting-started .box.half{
	width: 46%;
	margin: 2%;
}

#getting-started .box .icon{
	height: 100%;
	float: left;
	width: 20%;
	font-size: 30px;
}