* {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  color: #333;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 40px;
  padding: 40px 0;
  text-align: center;
}
.bright h2 {
  color: #333;
}
.dark h2 {
  color: #fff;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.centered {
  text-align: center;
}
.ion-adjust {
  margin-right: 7px;
  position: relative;
  top: 1px;
}
section {
  position: relative;
}
.two-col {
  overflow: hidden;
  position: relative;
}
.two-col .left,
.two-col .right {
  float: left;
  width: 50%;
}
#loading-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}
h3.icon-divider {
  margin-bottom: 20px;
}
h3.icon-divider span.icon {
  display: inline-block;
  color: #999;
  position: relative;
  top: 4px;
  font-size: 25px;
  padding: 0 1px;
}
h3.icon-divider span.divider {
  display: inline-block;
  height: 20px;
  width: 1px;
  margin: 3px 6px;
  background-color: #0FBBEC;
  vertical-align: middle;
}
h3.icon-divider span.text {
  font-size: 20px;
}
nav {
  overflow: hidden;
  background: #fff;
}
nav .logo {
  float: left;
  display: block;
}
nav .logo span {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  font-weight: 300;
}
nav .logo span em {
  color: #0FBBEC;
  font-style: normal;
  font-weight: 300;
}
nav .logo .container {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 15px 0;
  vertical-align: middle;
}
nav .pages {
  float: right;
}
nav .pages a {
  padding: 30px 0 15px;
  margin: 0 30px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color: #333;
  display: block;
  float: left;
  cursor: pointer;
  font-weight: 300;
  transition: color 300ms ease;
}
nav .pages a:hover {
  color: #0FBBEC;
}
nav .pages a.active {
  border-bottom: 2px solid #0FBBEC;
  padding-bottom: 5px;
  color: #0FBBEC;
}
nav .quick-links {
  position: absolute;
  right: 30px;
}
nav .quick-links a {
  display: inline-block;
  margin-left: 30px;
  padding-top: 8px;
  color: #aaa;
  cursor: pointer;
  font-size: 11px;
  font-weight: 300;
}
nav .quick-links a:hover {
  text-decoration: underline;
}
nav .quick-links a i {
  color: #ccc;
  margin-left: 2px;
  position: relative;
  top: 1px;
}
header {
  position: relative;
}
header .wrapper {
  height: 100%;
}
header video {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  opacity: 0.5;
}
header .headline {
  height: 180px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}
header .headline h1,
header .headline h2 {
  position: relative;
  z-index: 3;
}
header .headline h1 {
  font-size: 50px;
}
header .headline span {
  color: #0FBBEC;
}
header .headline a {
  display: inline-block;
  transition: all 300ms ease;
  background: #3bcaf3;
  color: #fff;
  padding: 12px 60px;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  margin-top: 40px;
  font-weight: 300;
  cursor: pointer;
}
header .headline a i {
  color: #fff;
  padding-left: 2px;
}
header .headline a:hover {
  background: #0FBBEC;
}
header .headline a:active {
  background: #cbf1fc;
}
/**************************
* Concept Select
**************************/
#concepts {
  background-color: #0FBBEC;
  height: 600px;
  position: relative;
  z-index: 1;
}
#concept-select {
  background-color: #46D3FA;
}
#concept-select ul {
  overflow: hidden;
  position: relative;
  margin-bottom: -1px;
}
#concept-select li {
  float: left;
  width: 300px;
  padding: 40px 50px;
  cursor: pointer;
}
#concept-select li,
#concept-select li * {
  transition: all 500ms ease;
  color: #fff;
}
#concept-select li:hover,
#concept-select li.active {
  background-color: #0FBBEC;
}
#concept-select li:hover * {
  color: #fff;
}
#concept-select li .icon {
  float: left;
  font-size: 20px;
  position: relative;
  left: 20px;
}
#concept-select li.active .icon,
#concept-select li.active h3 {
  color: #fff;
}
#concept-select li h3 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 50px;
  font-weight: 300;
}
#concept-select li p {
  font-weight: 300;
  font-size: 14px;
  margin-left: 50px;
}
#logoD {
  fill: #0FBBEC;
}
/**************************
* Code Samples
**************************/
#code-samples {
  position: relative;
  /* structure */
  /* logo */
}
#code-samples .sample {
  position: absolute;
  overflow: hidden;
}
#code-samples .sample > * {
  display: block;
  float: left;
}
#code-samples .sample .icon {
  font-size: 50px;
  color: #fff;
  width: 80px;
  text-align: center;
}
#code-samples .sample code {
  white-space: pre-line;
  width: 364px;
}
#code-samples .sample.right code {
  position: relative;
  left: 25px;
}
#code-samples .sample code,
#code-samples .sample code * {
  font-size: 12px;
  line-height: 20px;
  font-family: 'courier new', monospace;
}
#code-samples .sample code i {
  font-style: normal;
}
#code-samples .sample code i.string {
  color: #ddd;
}
#code-samples .sample.left {
  left: 0;
}
#code-samples .sample.right {
  right: 0;
}
#code-samples .sample.top {
  top: 80px;
}
#code-samples .sample.bottom {
  top: 280px;
}
@keyframes changeColor {
  from {
    stroke: #61d9fb;
  }
  to {
    stroke: #00C4FA;
  }
}
#code-samples .ds-logo {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 100px;
  left: 50%;
  margin-left: -110px;
  animation-duration: 1s;
  animation-name: changeColor;
  animation-easing: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#code-samples .svg-canvas {
  position: absolute;
  left: 50%;
  top: 62px;
  margin-left: -250px;
  width: 500px;
  height: 300px;
}
#getting-started {
  background: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}
#getting-started * {
  color: #333;
}
#getting-started h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
#getting-started .main {
  overflow: hidden;
}
#getting-started .main a {
  width: 50%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 20px 0;
  display: block;
  cursor: pointer;
  background-color: #fff;
  transition: all 400ms ease;
}
#getting-started .main a:hover {
  background-color: #eee;
}
#getting-started .main a .seperator {
  position: absolute;
  width: 1px;
  height: 80%;
  right: 0;
  background-color: #ddd;
  top: 10%;
}
#getting-started .main a .icon {
  font-size: 100px;
  color: #0FBBEC;
}
#getting-started .main a p {
  font-weight: 300;
}
#learn-about {
  overflow: hidden;
}
#learn-about h3 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin: 80px 0 40px;
}
#learn-about .grid {
  overflow: hidden;
  margin-bottom: 80px;
}
#learn-about .grid a {
  display: block;
  float: left;
  width: 25%;
  text-transform: lowercase;
  padding: 30px 0 30px 20px;
  color: #333;
  box-sizing: border-box;
  font-weight: 300;
  transition: all 400ms ease;
}
#learn-about .grid a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#learn-about .grid a * {
  display: inline-block;
  vertical-align: middle;
}
#learn-about .grid a img {
  width: 40px;
  margin-right: 10px;
}
#community {
  padding-bottom: 40px;
}
#community .two-col > div {
  box-sizing: border-box;
  padding: 0 8%;
}
#community .pictures {
  overflow: hidden;
}
#community .pictures img {
  width: 109px;
  height: 76px;
  box-sizing: border-box;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  float: left;
}
#community .events a {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
#community .events a img {
  width: 24%;
  display: block;
  float: left;
}
#community .events a .event-details {
  width: 76%;
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
  float: left;
}
#community .events a .event-details * {
  font-weight: 300;
  display: block;
  color: #333;
}
#community .events a .event-details time,
#community .events a .event-details address {
  font-size: 12px;
  display: inline-block;
  font-style: normal;
  color: #666;
}
#community .events a .event-details summary {
  font-size: 14px;
  margin: 10px 0;
}
#community .pagination {
  text-align: center;
  margin: 5px 0 50px;
}
#community .pagination li {
  display: inline-block;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
}
#community .pagination li:hover {
  color: #0FBBEC;
}
#community .pagination li.active {
  color: #0FBBEC;
  text-decoration: underline;
}
#community .git-text {
  margin: 17px 0 46px;
  font-size: 14px;
  font-weight: 300;
  width: 50%;
  display: inline-block;
}
#community .git-text a {
  color: #0FBBEC;
  font-size: 500;
}
#community .git-btn {
  display: inline-block;
  width: 30%;
}
#community .links {
  overflow: hidden;
}
#community .links a {
  display: block;
  width: 50%;
  padding: 10px 0;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: all 400ms ease;
}
#community .links a i {
  position: relative;
  top: 1px;
}
#community .links a:hover,
#community .links a:hover i {
  color: #0FBBEC;
}
#community .blogposts a {
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
#community .blogposts i {
  display: inline-block;
  margin-right: 20px;
  color: #999;
}
/**************************
* Color Scheme
**************************/
#concept-select li h2,
#concept-select li p,
#concept-select li .icon,
#code-samples .sample code,
#code-samples .sample code * {
  color: #fff;
}
