*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

header{
	background-color: #356bc5;
}

nav{
	overflow: hidden;
}

nav a{
	display: block;
	float: left;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	font-family: Roboto, sans-serif;
	font-weight: 100;
	cursor: pointer;
}

.logo{
    width: 200px;
    height: 200px;
    float: left;
    margin-top: -42px;
    margin-right: 20px;
}

.headline{
	padding: 130px 0;
	margin: 0 auto;
    width: 700px;
}

.headline *{
	font-family: Muli, sans-serif;
	font-weight: bold;
	color: #fff;
}

.headline h1{
    font-size: 60px;
    padding: 0;
    margin: 0;
    line-height: 70px;
}

.headline h1 span{
	opacity: 0.6;
}