header{
	position: relative;
	perspective: 600px;
	perspective-origin: 50% 50%;
	transition: perspective-origin 200ms ease;

	#header-overlay{
		background-image: url(../img/bg-pattern-dots.png);
		background-repeat: repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.4;
	}

    .wrapper{
    	height: 100%;
    }

	video{
		position: absolute;
		z-index: 0;
		bottom: 0;
		transform: rotateY( -8deg );
		right: 10%;
		height: 100%;
	}

	.headline{
		height: 180px;
		position: absolute;
		top: 50%;
		margin-top: -200px;
	}

	.headline h1,
	.headline h2{
		position: relative;
		z-index: 3;
	}

	.headline h1,
	.headline h1 *{
		font-size: 60px;
	    font-weight: 700;
	    line-height: 80px;
	}

	.headline h1{
		width: 50%;
	    span{
			color: @ds-color;
		}

		em{
			font-style: normal;
			background-color: @em-bg-color;
			padding: 0 0.2em;
		}
	}


	.headline a{
		display: inline-block;
		transition: all 300ms ease;
		background: lighten( @ds-color, 10%);
		color: #fff;
		padding: 12px 60px;
		font-size: 18px;
		text-align: center;
		border-radius: 3px;
		margin-top: 40px;
		font-weight: 300;
		cursor: pointer;
		position: relative;
		z-index: 1;
	}

	.headline a i{
		color: #fff;
		padding-left: 2px;
	}

	.headline a:hover{
		background: @ds-color;
	}

	.headline a:active{
		background: lighten( @ds-color, 40%);
	}
}