header{
	position: relative;

    .wrapper{
    	height: 100%;
    }

	video{
		position: absolute;
		z-index: 0;
		bottom: 0;
		right: 0;
		width: 60%;
		opacity: 0.5;
	}

	.headline{
		height: 180px;
		position: absolute;
		top: 50%;
		margin-top: -100px;
	}

	.headline h1,
	.headline h2{
		position: relative;
		z-index: 3;
	}

	.headline h1{
	    font-size: 50px;
	}

	.headline span{
		color: @ds-color;
	}

	.headline a{
		display: inline-block;
		transition: all 300ms ease;
		background: lighten( @ds-color, 10%);
		color: #fff;
		padding: 12px 60px;
		font-size: 18px;
		text-align: center;
		border-radius: 3px;
		margin-top: 40px;
		font-weight: 300;
		cursor: pointer;
	}

	.headline a i{
		color: #fff;
		padding-left: 2px;
	}

	.headline a:hover{
		background: @ds-color;
	}

	.headline a:active{
		background: lighten( @ds-color, 40%);
	}
}