nav{
	background: #fff;
	position: relative;
	z-index: 3;

	.logo{
		float: left;
		display: block;
		position: absolute;
		left: 0;
		top: 14px;


		span{
			color: #333;
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
			font-weight: 500;
		}

		span em{
			color: @ds-color;
			font-style: normal;
			font-weight: 500;
		}

		.container{
			display: inline-block;
			width: 60px;
			height: 62px;

			margin: 15px 0;
			vertical-align: middle;
		}
	}

	.pages{
		position: absolute;
		right: 0;
		top: 25px;

		a{
			padding: 30px 0 15px;
			margin-right: 20px;
			text-align: center;
			font-family: Roboto, sans-serif;
			font-size: 13px;
			color: #333;
			display: block;
			float: left;
			cursor: pointer;
			
			transition: color 300ms ease;

			span{
				font-weight: 500;
				background-color: @em-bg-color;
				padding: 5px;
			}
		}

		a:hover{
			color: @ds-color;
		}

		a.active{
			border-bottom: 3px solid @ds-color;
			padding-bottom: 3px;
			color: @ds-color;
		}
	}

	.quick-links{
		position: absolute;
		right: 20px;
		top: 10px;
	}

	.quick-links a{
		display: inline-block;
		padding: 6px 10px;
		cursor: pointer;
		background-color: #fff;
	}

	.quick-links a i{
		color: #aaa;
		font-size: 14px;
	}

	.quick-links a,
	.quick-links a i{
		transition: all 400ms ease;
	}

	.quick-links a:hover{
		background-color: @ds-color;
	}

	.quick-links a:hover i{
		color: #fff;
	}
}